# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
backend/.env
backend/staticfiles/
backend/media/products/
!backend/media/brand/
!backend/media/brand/logo.jpg

# Node
frontend/node_modules/
frontend/dist/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# Env
.env
.env.local
